# Meta (Facebook + Instagram)
# Create app at https://developers.facebook.com/apps/
META_APP_ID=
META_APP_SECRET=

# LinkedIn
# Create app at https://www.linkedin.com/developers/apps/
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Server
PORT=3847
